.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  .cart-image {
    width: 20em;

    img {
      width: 100%;
      size: cover;
      border-radius: 20px;
    }
  }

  .cart-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
