body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
  color: #433e49;
}

.app {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100vh;

  .components-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}
